<h1>POST Request Received</h1>
URL Query String Data:
<ul>
  {{#each dataList}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>
Request Body Data:
<ul>
  {{#each dataList1}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>