<!doctype html>
<html>
<head>
	<title>Demo Page</title>
</head>
<body>
	<h1>Workout Tracker</h1>

	<form method="post">
		<fieldset>

	       	<legend>Add new workout:</legend>
	        <label for="name"></label>Name:
	        <input type="text" name="name" id="name">
			
			<label for="reps"></label>Reps:
	        <input type="number" name="reps" id="reps">
	  
	  		<label for="weight"></label>Weight:
	        <input type="number" name="weight" id="weight">
	  
	  		<label for="date"></label>Date:
	        <input type="date" name="reps" id="reps">
	  
	  		<label for="lbs"></label>lbs (1 for true, 0 for false):
	        <input type="number" name="lbs" id="lbs">

	        <input type="submit" name="Add Workout" id="addWorkout" value="Add Workout" />
	  
	    </fieldset>
	</form>

	{{{body}}}

</body>
</html>